1. Why are there two Peter Ryans?
   There are two Peter Ryans because user_IDs are page specific. This indicates that Peter Ryans interacted with the bot on two different pages and as such was issued two different user_IDs.

2. Why is one row NULL?
   The row is NULL because the userid is app-scoped. Send api uses IDs that are retrieved through messenger entry points or through messenger webhooks. The userid associated with NULL was not retrieved through these methods.

3. Can you reconstruct what happened in the conversations from the botinputs?
   From a visual analysis Peter Ryans begins on an informational page where the bot conversation starts. He then moves to another page serviced by the same chatbot where he is then interested in more specific products and services: Dental floss and More Services 

4. Can you convert the botinput strings into a more structured, useful form of data?
   I converted botinput strings to vectors using the simple Bag of Words technique from sklearn's CountVectorizer(). This converts the corpus of strings into a sparse matrix for further mathematical analysis.

import mysql.connector

file = open('sample.cashbot.sql')
sql = file.read()


cnx = mysql.connector.connect(user='root', password='Adomkay1958', host='localhost')
cursor = cnx.cursor()

In [119]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
cursor.execute('CREATE DATABASE db')

In [6]:
connect = mysql.connector.connect(user='root', password='password', host='localhost', database = 'db')
cursor1 = connect.cursor()

In [7]:
for result in cursor1.execute(sql, multi=True):
  if result.with_rows:
    print("Rows produced by statement '{}':".format(
      result.statement))
    print(result.fetchall())
  else:
    print("Number of rows affected by statement '{}': {}".format(
      result.statement, result.rowcount))

Number of rows affected by statement '-- MySQL dump 10.13  Distrib 8.0.11, for osx10.13 (x86_64)
--
-- Host: localhost    Database: sample
-- ------------------------------------------------------
-- Server version	8.0.11

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */': 0
Number of rows affected by statement '/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */': 0
Number of rows affected by statement '/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */': 0
Number of rows affected by statement 'SET NAMES utf8mb4': 0
Number of rows affected by statement '/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */': 0
Number of rows affected by statement '/*!40103 SET TIME_ZONE='+00:00' */': 0
Number of rows affected by statement '/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */': 0
Number of rows affected by statement '/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */': 0
Number of rows affected by statement '/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */': 0
Number of rows affected by statement '/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */': 0
Number of rows affected by statement '--
-- Table structure for table `botinputs`
--

DROP TABLE IF EXISTS `botinputs`': 0
Number of rows affected by statement '/*!40101 SET @saved_cs_client     = @@character_set_client */': 0
Number of rows affected by statement 'SET character_set_client = utf8mb4': 0
Number of rows affected by statement 'CREATE TABLE `botinputs` (
  `userId` varchar(30) NOT NULL,
  `apiKey` varchar(20) NOT NULL,
  `type` varchar(8) NOT NULL,
  `value` mediumtext NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci': 0
Number of rows affected by statement '/*!40101 SET character_set_client = @saved_cs_client */': 0
Number of rows affected by statement '--
-- Dumping data for table `botinputs`
--

LOCK TABLES `botinputs` WRITE': 0
Number of rows affected by statement '/*!40000 ALTER TABLE `botinputs` DISABLE KEYS */': 0
Number of rows affected by statement 'INSERT INTO `botinputs` VALUES ('1664036756995215','1739895288','text','services'),('1740538092655384','1739895288','button','No More Jokes'),('1740538092655384','1739895288','button','Yes'),('1740538092655384','1739895288','text','No'),('1740538092655384','1739895288','text','More'),('1740538092655384','1739895288','text','Hi'),('1740538092655384','1739895288','button','Within a year'),('1740538092655384','1739895288','text','Info'),('1414246548670778','1739895288','text','I need stuff'),('1414246548670778','1739895288','text','Dental floss'),('1414246548670778','1739895288','button','More Services'),('1414246548670778','1739895288','text','No')': 12
Number of rows affected by statement '/*!40000 ALTER TABLE `botinputs` ENABLE KEYS */': 0
Number of rows affected by statement 'UNLOCK TABLES': 0
Number of rows affected by statement '--
-- Table structure for table `botusers`
--

DROP TABLE IF EXISTS `botusers`': 0
Number of rows affected by statement '/*!40101 SET @saved_cs_client     = @@character_set_client */': 0
Number of rows affected by statement 'SET character_set_client = utf8mb4': 0
Number of rows affected by statement 'CREATE TABLE `botusers` (
  `name` varchar(50) DEFAULT NULL,
  `apiKey` varchar(20) NOT NULL,
  `gender` varchar(10) DEFAULT NULL,
  `locale` varchar(10) DEFAULT NULL,
  `timezone` int(11) DEFAULT '0',
  `profilepic` mediumtext,
  `userId` varchar(30) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci': 0
Number of rows affected by statement '/*!40101 SET character_set_client = @saved_cs_client */': 0
Number of rows affected by statement '--
-- Dumping data for table `botusers`
--

LOCK TABLES `botusers` WRITE': 0
Number of rows affected by statement '/*!40000 ALTER TABLE `botusers` DISABLE KEYS */': 0
Number of rows affected by statement 'INSERT INTO `botusers` VALUES (NULL,'1739895288',NULL,NULL,NULL,NULL,'1664036756995215'),('Gabriel Alejandro Osinaga Caballero','3547005974','male','es_LA',-3,'https://scontent.xx.fbcdn.net/v/t1.0-1/12654283_1036309233094123_6422805831762179896_n.jpg?oh=78663d153d15efe156f21f8e45a79dce&oe=5A7DDD96','1486844958067448'),('Peter Ryans','1739895288','male','en_US',-7,'https://scontent.xx.fbcdn.net/v/t1.0-1/20032080_237424296767752_5701523959034336248_n.jpg?oh=049f346f2ed12cd8be37506ce3fdb4ba&oe=5A1877D0','1740538092655384'),('Peter Ryans','1739895288','male','en_US',-7,'https://scontent.xx.fbcdn.net/v/t1.0-1/20032080_237424296767752_5701523959034336248_n.jpg?oh=b5d2cad0ce757b82f36f212824b0b8ac&oe=59F0EAD0','1414246548670778'),('Frank Petruccelli','3547005974','male','en_US',-4,'https://scontent.xx.fbcdn.net/v/t1.0-1/10299967_10152400185811703_4846830651604722820_n.jpg?oh=78a2bd9feada9ab0fa4c7246c362e63c&oe=5991EC49','58116b5fe4b0ed25f85945a0'),('Agatha Dooreck','4144035441','female','en_US',-7,'https://scontent.xx.fbcdn.net/v/t31.0-1/17620082_985845815241_955996701879447268_o.jpg?oh=7803a2931c569907be34c081be5d63e3&oe=59788504','1505482576138164')': 6
Number of rows affected by statement '/*!40000 ALTER TABLE `botusers` ENABLE KEYS */': 0
Number of rows affected by statement 'UNLOCK TABLES': 0
Number of rows affected by statement '/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */': 0
Number of rows affected by statement '/*!40101 SET SQL_MODE=@OLD_SQL_MODE */': 0
Number of rows affected by statement '/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */': 0
Number of rows affected by statement '/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */': 0
Number of rows affected by statement '/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */': 0
Number of rows affected by statement '/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */': 0
Number of rows affected by statement '/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */': 0
Number of rows affected by statement '/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */': 0
Number of rows affected by statement '-- Dump completed on 2018-07-01 15:52:06': 0

In [8]:
cursor1.execute('SHOW TABLES')

In [9]:
cursor1.fetchall()

[('botinputs',), ('botusers',)]

In [13]:
cursor1.execute('DESC botinputs')

In [14]:
tables = cursor1.fetchall()

In [16]:
cursor1.execute('SELECT * FROM botusers')

In [17]:
botusers = cursor1.fetchall()

In [19]:
type(botusers)

list

In [22]:
cursor1.execute('SELECT * FROM botinputs')

In [23]:
botinputs = cursor1.fetchall()

In [25]:
botusers

[(None, '1739895288', None, None, None, None, '1664036756995215'),
 ('Gabriel Alejandro Osinaga Caballero',
  '3547005974',
  'male',
  'es_LA',
  -3,
  'https://scontent.xx.fbcdn.net/v/t1.0-1/12654283_1036309233094123_6422805831762179896_n.jpg?oh=78663d153d15efe156f21f8e45a79dce&oe=5A7DDD96',
  '1486844958067448'),
 ('Peter Ryans',
  '1739895288',
  'male',
  'en_US',
  -7,
  'https://scontent.xx.fbcdn.net/v/t1.0-1/20032080_237424296767752_5701523959034336248_n.jpg?oh=049f346f2ed12cd8be37506ce3fdb4ba&oe=5A1877D0',
  '1740538092655384'),
 ('Peter Ryans',
  '1739895288',
  'male',
  'en_US',
  -7,
  'https://scontent.xx.fbcdn.net/v/t1.0-1/20032080_237424296767752_5701523959034336248_n.jpg?oh=b5d2cad0ce757b82f36f212824b0b8ac&oe=59F0EAD0',
  '1414246548670778'),
 ('Frank Petruccelli',
  '3547005974',
  'male',
  'en_US',
  -4,
  'https://scontent.xx.fbcdn.net/v/t1.0-1/10299967_10152400185811703_4846830651604722820_n.jpg?oh=78a2bd9feada9ab0fa4c7246c362e63c&oe=5991EC49',
  '58116b5fe4b0ed25f85945a0'),
 ('Agatha Dooreck',
  '4144035441',
  'female',
  'en_US',
  -7,
  'https://scontent.xx.fbcdn.net/v/t31.0-1/17620082_985845815241_955996701879447268_o.jpg?oh=7803a2931c569907be34c081be5d63e3&oe=59788504',
  '1505482576138164')]

In [33]:
user_labels = ['name', 'apikey', 'gender', 'locale', 'timezone', 'profilepic', 'userid']

In [49]:
input_labels = ['userid','apikey','type','value']

In [69]:
botinputs_df = pd.DataFrame.from_records(botinputs, columns = input_labels)

In [70]:
botinputs[1]

('1740538092655384', '1739895288', 'button', 'No More Jokes')

In [71]:
botinputs_df

              userid      apikey    type          value
0   1664036756995215  1739895288    text       services
1   1740538092655384  1739895288  button  No More Jokes
2   1740538092655384  1739895288  button            Yes
3   1740538092655384  1739895288    text             No
4   1740538092655384  1739895288    text           More
5   1740538092655384  1739895288    text             Hi
6   1740538092655384  1739895288  button  Within a year
7   1740538092655384  1739895288    text           Info
8   1414246548670778  1739895288    text   I need stuff
9   1414246548670778  1739895288    text   Dental floss
10  1414246548670778  1739895288  button  More Services
11  1414246548670778  1739895288    text             No

In [62]:
botinputs_df = botinputs_df[['userid', 'apikey']].apply(pd.to_numeric)

In [68]:
botinputs_df.dtypes

userid    int64
apikey    int64
dtype: object

In [42]:
botusers_df = pd.DataFrame.from_records(botusers, columns = user_labels)

In [43]:
botusers_df

,name,apikey,gender,locale,timezone,profilepic,userid
0,None,1739895288,None,None,NaN,None,1664036756995215
1,Gabriel Alejandro Osinaga Caballero,3547005974,male,es_LA,-3.0,https://scontent.xx.fbcdn.net/v/t1.0-1/1265428...,1486844958067448
2,Peter Ryans,1739895288,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...,1740538092655384
3,Peter Ryans,1739895288,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...,1414246548670778
4,Frank Petruccelli,3547005974,male,en_US,-4.0,https://scontent.xx.fbcdn.net/v/t1.0-1/1029996...,58116b5fe4b0ed25f85945a0
5,Agatha Dooreck,4144035441,female,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t31.0-1/176200...,1505482576138164

In [74]:
merged_df = pd.merge(botinputs_df, botusers_df, on = ['userid', 'apikey'], how = 'left' )

In [75]:
merged_df

,userid,apikey,type,value,name,gender,locale,timezone,profilepic
0,1664036756995215,1739895288,text,services,None,None,None,NaN,None
1,1740538092655384,1739895288,button,No More Jokes,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
2,1740538092655384,1739895288,button,Yes,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
3,1740538092655384,1739895288,text,No,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
4,1740538092655384,1739895288,text,More,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
5,1740538092655384,1739895288,text,Hi,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
6,1740538092655384,1739895288,button,Within a year,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
7,1740538092655384,1739895288,text,Info,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
8,1414246548670778,1739895288,text,I need stuff,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
9,1414246548670778,1739895288,text,Dental floss,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
10,1414246548670778,1739895288,button,More Services,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...
11,1414246548670778,1739895288,text,No,Peter Ryans,male,en_US,-7.0,https://scontent.xx.fbcdn.net/v/t1.0-1/2003208...

In [93]:
strings = merged_df['value']

In [99]:
corpus = [string.lower() for string in strings]

In [100]:
corpus

['services',
 'no more jokes',
 'yes',
 'no',
 'more',
 'hi',
 'within a year',
 'info',
 'i need stuff',
 'dental floss',
 'more services',
 'no']

In [113]:
# VECTORIZE BOTINPUTS USING BAG OF WORDS
def vectorize_text(text):
    vectorizer = CountVectorizer()
    vectors = vectorizer.fit_transform(text)
    return vectorizer, vectors

In [114]:
vectorizer, vectors = vectorize_text(corpus)

In [120]:
# BAG OF WORDS FEATURE NAMES
vectorizer.get_feature_names()

['dental',
 'floss',
 'hi',
 'info',
 'jokes',
 'more',
 'need',
 'no',
 'services',
 'stuff',
 'within',
 'year',
 'yes']

In [118]:
# Sparce Matrix representing botinput strings
vectors.toarray()

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0]], dtype=int64)